<div ng-controller="cBody" layout="column" style="min-height: calc(100vh - 128px); max-height: 700px;" ng-cloak>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftMenu"
                    md-is-locked-open="$mdMedia('gt-sm')">
            <md-toolbar class="md-theme-indigo" hide-gt-sm>
                <h1 class="md-toolbar-tools">Sidenav Left</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="cLeftMenu">
                <md-subheader class="md-no-sticky">Features</md-subheader>
                <md-list-item ng-click="actionClick($event)">
                    <img alt="test" ng-src="front_end/img/icon-user.png"
                         class="md-avatar"/>
                    <p>User</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="actionClick($event)">
                    <img alt="test" ng-src="front_end/img/icon-customer.png"
                         class="md-avatar"/>
                    <p>Customer</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="actionClick($event)">
                    <img alt="test" ng-src="front_end/img/icon-product.png"
                         class="md-avatar"/>
                    <p>Product</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="actionClick($event)">
                    <img alt="test" ng-src="front_end/img/icon-shipping.png"
                         class="md-avatar"/>
                    <p>Shipping</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="actionClick($event)">
                    <img alt="test" ng-src="front_end/img/icon-stock.png"
                         class="md-avatar"/>
                    <p>Stock</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="actionClick($event)">
                    <img alt="test" ng-src="front_end/img/icon-transaction.png"
                         class="md-avatar"/>
                    <p>Transaction</p>
                </md-list-item>
                <!--<md-divider></md-divider>-->

                <md-button ng-click="close()" class="md-primary" hide-gt-sm>
                    Close Sidenav Left
                </md-button>
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
            <div ui-view></div>
            <!-- We'll also add some navigation: -->
            <a ui-sref="state1">State 1</a>
            <a ui-sref="state2">State 2</a>


            <div ui-view="viewA"></div>
            <div ui-view="viewB"></div>
            <!-- Also a way to navigate -->
            <a ui-sref="route1">Route 1</a>
            <a ui-sref="route2">Route 2</a>

            <div layout="column" layout-fill layout-align="top center">
                <p>
                    The left sidenav will 'lock open' on a medium (>=960px wide) device.
                </p>
                <p>
                    The right sidenav will focus on a specific child element.
                </p>
                <div>
                    <md-button ng-click="toggleLeft()"
                               class="md-primary" hide-gt-sm>
                        Toggle left
                    </md-button>
                </div>

            </div>
            <div flex></div>
        </md-content>
    </section>
</div>