<div ng-controller="cBody" layout="column" style="min-height: calc(100vh - 128px); max-height: 700px;" ng-cloak>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftMenu"
                    md-is-locked-open="$mdMedia('gt-sm')">
            <md-toolbar class="md-theme-indigo" hide-gt-sm>
                <h1 class="md-toolbar-tools">Sidenav Left</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="cLeftMenu">
                <md-subheader class="md-no-sticky">Features</md-subheader>
                <md-list-item ng-click="actionClick($event)">
                    <img alt="test" ng-src="front_end/img/icon-user.png"
                         class="md-avatar"/>
                    <p>User</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="actionClick($event)">
                    <img alt="test" ng-src="front_end/img/icon-customer.png"
                         class="md-avatar"/>
                    <p>Customer</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="actionClick($event)">
                    <img alt="test" ng-src="front_end/img/icon-product.png"
                         class="md-avatar"/>
                    <p>Product</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="actionClick($event)">
                    <img alt="test" ng-src="front_end/img/icon-shipping.png"
                         class="md-avatar"/>
                    <p>Shipping</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="actionClick($event)">
                    <img alt="test" ng-src="front_end/img/icon-stock.png"
                         class="md-avatar"/>
                    <p>Stock</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="actionClick($event)">
                    <img alt="test" ng-src="front_end/img/icon-transaction.png"
                         class="md-avatar"/>
                    <p>Transaction</p>
                </md-list-item>
                <!--<md-divider></md-divider>-->

                <md-button ng-click="close()" class="md-primary" hide-gt-sm>
                    Close Sidenav Left
                </md-button>
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
            <p><i>Best viewed in pop-out mode to see location changes. Click blue button on the right.</i></p>

            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">Quick Start</a>
                    <ul class="nav">
                        <li><a ui-sref="route1">Route 1</a></li>
                        <li><a ui-sref="route2">Route 2</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <div class="well" ui-view></div>
                </div>
            </div>
        </md-content>
    </section>
</div>
