<div id="successAlert" class="alert alert-success fade in center" style="z-index: 8888; display: none; width: 50%; margin:auto;">
    <strong>Success!</strong>
</div>
<div id="errorAlert" class="alert alert-danger fade in center" style="z-index: 8888; display:none; width: 50%; margin:auto;">
    <strong>Error!</strong> Operate failed.
</div>
<div id="body" style="height: 1125px; width:100%">
    <div id="mainLayout">
        <div id="mainTabs" style="width: 100%;"></div>
        <div id="selected-mainTab" style="height: 900px; ">
        </div>
    </div>
    <!--form and employee list-->
    <div id="mainTabContentLayout" style="display: none; height: 460px; width: 100%;">
    </div>
    <div id="topLayout">
        <img src="img/logo.png" width="250px" height="auto" style="margin:auto; display: inline; margin-left:60px; "/>

        <div id="#exInfo" class="iconCircle" style="float:right; cursor:pointer" onclick="showMenuPerson(this)">T</div>
    </div>
    <div id="bottomLayout">
        <img src="img/logo.png" width="250px" height="auto" style="margin:auto; display: inline; margin-left:60px; "/>

        <div style="float:right; margin-right: 10px;">Yeskone © 2015</div>
    </div>
</div>

<div id="componentView" style="display: none">

    <div id="info_panel" style="width: 100%;">
        <div class="panel panel-primary">
            <div class="panel-heading headerpanel">Infomation</div>
            <div class="panel-body">
                <div class="col-lg-5">
                    <p>ID</p>

                    <p>Full name</p>

                    <p>Brithday</p>

                    <p>Department</p>

                    <p>Team</p>

                </div>
                <div class="col-lg-7">
                    <p id="info_msnv"></p>

                    <p id="info_name"></p>

                    <p id="info_birthday"></p>

                    <p id="info_department"></p>

                    <p id="info_team"></p>

                </div>
            </div>
            <hr style="margin:0px 10px;">
            <div class="panel-body">
                <div class="col-lg-8">
                    <p>Annual leave used</p>

                    <p>Annual leave remain</p>

                    <p>Compensatory leave used</p>

                    <p>Compensatory leave remain</p>
                </div>
                <div class="col-lg-4" style="text-align: right;">
                    <p><span id="info_leave_d_used" class="infoleave"></span> days.</p>

                    <p><span id="info_leave_d_remain" class="infoleave"></span> days.</p>

                    <p><span id="info_leave_h_used" class="infoleave"></span> days.</p>

                    <p><span id="info_leave_h_remain" class="infoleave"></span> days.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="formBottom" class="w2ui-buttons" style="margin: auto; display: table;">
        <button id="formBottomBtnReset" class="btn" name="reset">Reset</button>
        <button id="formBottomBtnRegister" class="btn" name="save">Register</button>
        <button id="formBottomBtnView" class="btn" name="view">View</button>
    </div>
    <!--LEAVE REGISTER TAB-->
    <div id="leaveTabForm" style="width: 100%;">
        <div class="w2ui-page page-0">
            <div class="w2ui-field w2ui-span8" style="clear: both">
                <label>Leave code:</label>

                <div>
                    <input name="field_leave_code" maxlength="50">
                </div>
            </div>

            <div class="w2ui-field w2ui-span8" style="clear: both">
                <label>From day:</label>

                <div>
                    <input name="field_from_day" maxlength="100" style="width: 90px">
                </div>
            </div>
            <div class="w2ui-field w2ui-span8" style="clear: both">
                <label>To day:</label>

                <div>
                    <input name="field_to_day" maxlength="100" style="width: 90px">
                </div>
            </div>

            <div class="w2ui-field w2ui-span8" style="clear: both">
                <label>Reason:</label>

                <div>
                    <textarea name="field_reason" style="width: 99%; height: 100px; resize: none"/>
                </div>
            </div>
        </div>

    </div>
    <div class="w2ui-buttons" style="margin: auto; width: 100%; display: none;">
        <button class="btn" name="reset">Reset</button>
        <button class="btn" name="save">Save</button>
    </div>
    <div id="leaveTabDashboard" style="width: 100%;"></div>

    <!--OVERTIME REGISTER TAB-->
    <div id="otTabForm" style="width: 100%;">
        <div class="w2ui-page page-0">

            <div style="width: 50%; float: left; margin-right: 0px;">
                <div class="w2ui-group">
                    <div class="w2ui-field w2ui-span4">
                        <label>From day:</label>

                        <div>
                            <input name="field_from_day">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span4">
                        <label>From hours:</label>

                        <div>
                            <input name="field_from_hours">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span4">
                        <label>OT Type:</label>

                        <div>
                            <input name="field_ot_type">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span4">
                        <label>LineOT:</label>

                        <div>
                            <input name="field_line_ot">
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 50%; float: right; margin-left: 0px;">
                <div class="w2ui-group">
                    <div class="w2ui-field w2ui-span4">
                        <label>To day:</label>

                        <div>
                            <input name="field_to_day">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span4">
                        <label>To hours:</label>

                        <div>
                            <input name="field_to_hours">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span4">
                        <label></label>

                        <div>
                            <input name="field_ot_type2"/>
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span4">
                        <label>OTFood:</label>

                        <div>
                            <input name="field_ot_food">
                        </div>
                    </div>
                </div>
            </div>
            <div class="w2ui-field" style="clear: both; width: 100%; float: left; margin-right: 0px;">
                <label style="width: 80px;">Reason:</label>

                <div style="margin-left: 88px;">
                    <textarea name="field_reason" type="text" style="width: 99%; height: 60px; resize: none"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    checkBodyDirectPage();

    $(function () {
        initBody();
        initData();
    })

</script>